@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
    --font-poppins: "Poppins", sans-serif; 
    --color-darkBg : #030712;
    --color-darkerBg : #00040f;
    --color-purple : #a516c6;
    --color-blue : #2644f9;
    --color-deep-blue : #146ee6;
    --color-footer-Bg : #1e1b4b;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px rgba(16, 14, 42, 0.2) inset !important; /* Your desired background */
    -webkit-text-fill-color: #ffffff !important; /* Your desired text color */
    caret-color: #ffffff;
    transition: background-color 9999s ease-in-out 0s;
  }
}


.jodit-container {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  border-color: #333 !important;
}

.jodit-toolbar__box {
  background-color: #2a2a2a !important;
  border-color: #333 !important;
}

.jodit-status-bar {
  background-color: #1e1e1e !important;
  color: #aaa !important;
}
